@tailwind base;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 9px;
  height: 7px;
  -webkit-appearance: none;
}
*::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #e2e2e2;
  border: 2px solid #fff;
}